<!-- Background Section -->
<section id="background" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Background</h2>
            <p>Born in the costal city of Stavanger, Norway, I always dreamed of traveling the world. After living in England and Hong Kong, I'm currently settled in New York City.</p>
            <p>Right now, I'm finishing up my master degree in Computer Science at <a href="http://www.pace.edu/">Pace University</a> and looking to graduate in May 2017. My bachelor is a Bachelor of Computer Engineering from the University of Stavanger,
                Norway.
                <br>
                A copy of my resume can be found <a href="/resume.pdf">here</a>.
            </p>
            <p>I'm passionate about learning from different cultures and I look forward to meeting new interesting people that can teach me more about coding.</p>
            <p>Some of my interestest are Android Programming and Web Development, but I'm also very interested in learning about Machine Learning and Artificial Intelligence.</p>
        </div>
    </div>
</section>
