<!-- career Section -->
<section id="career" class="content-section text-center">
    <div class="career-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Career</h2>
                <div class="row">
                    {% for item in site.data.cv.career %}
                    <div class="jd">
                        <div class="row text-left">
                            <div class="col-xs-12">
                                <h4><b>{{ item.position }}</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 text-left">
                                <h5>{{item.company}} <i>({{item.location}})</i></h5>
                            </div>
                            <div class="col-xs-5 text-right">
                                <h5 class="pull-right">{{ item.dates }}</h5>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-xs-12">
                                {% if item.accomplishments.size > 0 %} {% endif %}
                                <ul>
                                    {% for itemm in item.accomplishments %}
                                    <li>
                                        {{itemm.accomplishment}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
