<!-- career Section -->
<section id="career" class="content-section text-center">
    <div class="career-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Career</h2>
                <div class="row">
                    {% for item in site.data.cv.career %}
                    <div class="blog-card spring-fever">
                        <div class="title-content">
                            <h3>IT Developer</h3>
                            <hr />
                            <div class="intro">Nordea, Oslo Norway</div>
                        </div><!-- /.title-content -->
                        <div class="card-info">
                            Maintained Nordea’s private online banking website, used mainly by residents of Norway
                        </div><!-- /.card-info -->
                        <div class="utility-info">
                            <ul class="utility-list">
                                <li class="date">Aug 2017 - Current</li>
                            </ul>
                        </div><!-- /.utility-info -->
                        <!-- overlays -->
                        <div class="gradient-overlay"></div>
                        <div class="color-overlay"></div>
                    </div><!-- /.blog-card -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
