<!-- education Section -->
<section id="education" class="content-section text-center">
    <div class="career-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 ">
                <h2>Education</h2>
                <div class="row">
                    {% for item in site.data.cv.education %}

                    <a href={{ item.link }}>
                        <div class="uniShowcase">
                            <div class="date"><span class="year">{{
                                item.dateYear }}</span>
                                {% if item.dateMonth %}
                                <span class="month">{{ item.dateMonth }}</span>
                                {% endif %}
                            </div>
                            <div id="uniLogo">
                                <img id="img-uni" src={{ item.logoURL }}>
                            </div>
                            <div class="infoWrapper">
                                <div id="uniName">{{ item.name }}</div>
                                <hr>
                                <div id="uniInfo">{{ item.degree }}</div>
                                {% if item.gpa %}
                                <div id="uniGPA">GPA: {{ item.gpa }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
