<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="animatedName">
                        <svg height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <text class="svgTitle" fill="#fff" style="font-family: 'Allura', sarif" font-size="108"
                                  stroke="#fff" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="3" x="65"
                                  y="100">
                                {{ site.firstName }}
                            </text>
                            <text class="svgTitle" fill="#fff" style="font-family: 'Allura', sarif" font-size="108"
                                  stroke="#fff" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="3" x="10"
                                  y="200">
                                {{ site.lastName }}
                            </text>
                        </svg>
                    </div>
                    <p class="intro-text">{{ site.description }}<br>
                        <a href="#background" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</header>
