<!-- tecnical Section -->
<section id="tecnical" class="content-section text-center">
      <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>Technical Skills</h2>
              <div class="row">
                  <div class="jd text-left ">
                      <div class="row">
                          <div class="col-xs-3">
                              <b>Proficient languages: </b>
                          </div>
                          <div class="col-xs-9">
                              {{ site.data.cv.technicalSkills.proficient }}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-3">
                              <b>Familiar languages: </b>
                          </div>
                          <div class="col-xs-9">
                              {{ site.data.cv.technicalSkills.familiar }}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-3">
                              <b>Development tools: </b>
                          </div>
                          <div class="col-xs-9">
                              {{ site.data.cv.technicalSkills.tools }}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
</section>
